@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Salsa', cursive;
    box-sizing: border-box;
}

body {
    background: #0F162B;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 100px;
}

.navbar img {
    height: 60px;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    padding-left: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    display: inline-block;
    position: relative;
}

.navbar li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0EA5E9;
    color: #0EA5E9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navbar li a:hover{
    color: #0EA5E9;
}
.navbar li a:hover::after {
    color: #0EA5E9;
    transform: scaleX(1);
    transform-origin: bottom left;
}